#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

ul.progress-bar {
  list-style-type: none;
  display: flex;
  gap: 0.25rem;
  justify-content: center;
}

.progress-unfilled {
  width: 17px;
  height: 25px;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  border: 3px solid #1c446b;
  animation: 1s normal 1 backgroundFadeOut;
}
.progress-filled {
  width: 17px;
  height: 25px;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  border: 3px solid #1c446b;
  background-color: rgb(173, 216, 230, 1);

  animation: 1s normal 1 backgroundFadeIn;
}

.progress-current {
  width: 17px;
  height: 25px;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  border: 3px solid #1c446b;
  background-color: rgb(173, 216, 230, 1);
  transform: scale(1.25);
  animation: 1s normal 1 backgroundFadeIn;
}

fieldset.question-field {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: none;
  padding: 2rem;
  gap: 4rem;
}

fieldset.buttons-field {
  display: flex;
  border: none;
  justify-content: space-between;
}

legend {
  font-weight: bold;
}

.next-button {
  margin-left: auto;
  width: 8rem;
}

.back-button {
}

.radio-option {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.radio-label {
  max-width: 128px;
}

.radio-input {
  appearance: none;
  border-radius: 50%;
  width: 96px;
  height: 96px;

  border: 2px solid #999;
  transition: 0.2s all linear;
}

input.radio-input:checked {
  border: 6px solid black;
}

.checkbox-input {
  appearance: none;
  width: 35px;
  height: 50px;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  border: 3px solid #1c446b;
  transition: 0.2s all linear;
}

.checkbox-input:checked {
  background-color: var(--eggCheckboxColor);
  border: 3px solid black;
}

.checkbox-option {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question {
  animation-duration: 1s;
  animation-name: fadein;
  animation-iteration-count: 0.75;
  animation-direction: alternate;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes backgroundFadeIn {
  from {
    background-color: rgb(173, 216, 230, 0);
  }

  to {
    background-color: rgb(173, 216, 230, 1);
  }
}

@keyframes backgroundFadeOut {
  from {
    background-color: rgb(173, 216, 230, 1);
  }

  to {
    background-color: rgb(173, 216, 230, 0);
  }
}
