#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul.progress-bar {
  list-style-type: none;
  display: flex;
}

li.progress-filled {
  height: 10px;
  width: 50px;
  background-color: blue;
}

li.progress-unfilled {
  height: 10px;
  width: 50px;
}
